<h1>Edit: <%=@scotch.name%></h1>
<% if flash.has?(:error) %>
	<h3 style="color: red;"><%= flash[:error] %></h3>
<%end%><br>
<form method="POST" action="/reviews/<%=@scotch.slug%>">
	<input id="hidden" type="hidden" name="_method" value="PATCH">
	<input type="text" name="name" placeholder="<%=@scotch.name%>">
	<input type="text" name="rating" placeholder="<%=@scotch.rating%>">
	<input type="number" name="price" placeholder="<%=@scotch.price%>"><br><br>
	<textarea rows="15" cols="50" name="review" placeholder="<%=@scotch.review%>"></textarea><br><br>
	<input type="submit" value="Edit Review">
</form>
<h4><a href="/reviews">Go Back To Reviews</a></h4>